body{
  background-color: lightblue;
  margin: 0;
  text-align: center; /* centers everything inside parent that doesn't have width set*/
  font-family: 'Marriweather', serif; /*serif is default*/
}

h1{
  font-size: 5.625rem; /* 100% = 16px...1em = 16px...more dynamic....rem ignore parents*/
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2{
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-weight: normal;
}

h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

.pro{
  text-decoration: underline;
  color: green;
}

.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container{

}

.bottom-container{

}

/*
Display: inline-block; change width and it's an inline property, best of both worlds
None - gets rid of element completely

visibility: hidden; makes element disappear, but keeps position

position: position elements on screen the way WE want to, instead of going 
along with default layout.

position: static; default - go along with HTML rules

position: relative; position element we select relative to how it would have 
been positioned if it was sat in. Does not affect any other elements on screen.

position: absolute; positioning the element relative to its parent. In most 
cases, the parent is body of the webpage. Adding a margin to its parent 
element. This does affect flow of HTML. As if you have deleted it. Can move it 
anywhere in relation to its parent.

position: fixed;
*/

.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}